@import "~nativescript-theme-core/css/core.light.css";

ActionBar {
  /* background-color: black;
  color: white; */
  text-align: center;
  align-items: center;
}



Image {
  margin-bottom: 20;
  height: 70;
}
Button, TextField {
  margin-bottom: 10;
    background-color: #f0f0f0;

}

TextField {
  placeholder-color: #C4AFB4;
  color: black;
  background-color: #f0f0f0;

}
#status {
    padding-bottom: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;

}

.app-heading {
  padding-bottom: 100px;
  font-family: 'AppleSDGothicNeo-Medium';
  text-align: center;
  font-size: 24px;
}
.btn-primary {
  background-color: #CB1D00;
  margin-left: 0;
  margin-right: 0;
  height: 100px;
  border-radius: 25%;
  width: 90%;
  font-size: 22px;
}
.btn-green {
  background-color: #4cd136;
}
.btn-dark {
  background-color: #3f3c56;
  color: white;
}